# Terraform service files
.terraform/
terraform.tfstate*
plan.cache

# Kubeconfig
kubeconfig_*

# Mypy cache
.mypy_cache/

# Pytest cache
.pytest_cache/

# Crash log files
crash.log

# Byte-compiled / optimized / DLL files
pycache/
__pycache__
*$py.class
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# IDEA
.idea/

# IntelliJ IDEA's module files
*.iml

# virtualenv
.venv
venv*/
ENV/

# Opened .docx files locks
.~lock.*

# MacOS files
*.DS_Store

# Project configuration
*.sublime*
.vscode
*.code-workspace
# Project extensions
logs/
*.bak

# Credentials
*(credentials|secret)

# Egg-info
*egg-info/

# Build
*build/
*builds/

# Pytest files
**/.coverage
.reports/

# Kubeflow cache
**/kubeflow/.cache/*

# ML models
**/settings.json
results/
run.log
dist/
*.cbm
!*.cbm.dvc
catboost_info/

# Helm chart dependencies lock
Chart.lock

# Python packages
/**/dist/*
node_modules/

# Data
/data/postgres-data/*
